#product_info{

  .color-icon-trash{
      color: red;
  }

  .top-btn{
    margin-top: 37px;
  }

  .top-btn-add{
    margin-top: 32px;
  }

  .top-btn-del{
    margin-top: 31px;
  }

  .color-red{
    color: red;
    font-size: 15px;
  }
  
  .btn-redio{
    margin-top: 15px;
  }




}
