table{
    h2{
        font-size: 26px;
        font-weight: bold;
    }
    .table-header{
        font-size: 15px;
        font-weight: bold;
        padding: none;
        
    }
    .table-row{
        font-size: 15px;
    }
    .text-center{
        font-size: 15px;
        
    }
    tr{
        font-size: 15px;
        
    }
    th{
        font-size: 15px;
        font-weight: bold;
        padding: none;
    }

}